.processKeyStrokes {
    width: 70%
}

.setting-content-row {
    width: 50%
}

.content-table tr td {
    width: 50%
}

.footer-lang-select {
    float: left
}

.footer-contact-info {
    float: right;
    text-align: right;
}

.no-display {
    display:none
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#content form fieldset input,select {
    min-width: 250px;
}

#content form fieldset input[type="checkbox"], input[type="radio"] {
    min-width: auto !important;
}

.sub-form {
    padding-left: 10px;
}

#ecom_reg_done p {
    text-align: center;
}

#index-status-table td:nth-child(1) {
    width: 30px
}
#index-status-table td:nth-child(2) {
    width: 462px
}
#index-status-device th:nth-child(1), #index-status-device td:nth-child(1) {
    width: 100px !important
}
#index-status-device th:nth-child(2), #index-status-device td:nth-child(2) {
    width: 200px !important
}
#index-status-device th:nth-child(3), #index-status-device td:nth-child(3) {
    width: 160px !important
}
#index-status-device th:nth-child(4), #index-status-device td:nth-child(4) {
    width: 160px !important
}
.cursor-pointer {
    cursor: pointer
}
.no-border-bottom {
    border-bottom: 0px
}
.no-padding-top {
    padding-top: 0px
}
.t7-charger {
    font-weight:bold;
    padding-top: 48px;
}

#alertBox .progress {
    top: 110px;
    width: 295px;
}

#alertBox #dlgAlertInput {
    width: 280px;
}

#alertBox table {
    width: 100%;
}

.error-code {
    font-size: 9px;
    color: #999;
}

.axonsup-table tr td:nth-child(1){
    vertical-align: top;
}
.axonsup-table tr td textarea {
    width: 100%;
}

.diag-table tr td {
    width: auto;
}

.diag-table tr:nth-child(1) td:nth-child(1) {
    width: 100px;
}
.diag-table tr:nth-child(1) td:nth-child(2) {
    width: 100%;
}
.diag-table #cmdStr {
    width: 100%;
}
.diag-table tr:nth-child(1) td:nth-child(3) {
    width: 100px;
}
.diag-table tr:nth-child(2) td:nth-child(1) {
    vertical-align: top;
}
.diag-table #cmdResult {
    width: 100%;
    height: 200px;
}

.firmware-version tr:nth-child(1) td:nth-child(2) {
    width: 40%
}
.firmware-version tr:nth-child(1) td:nth-child(3) {
    width: 10%
}

.firmware-table tr td:nth-child(1){
    width: 40%
}
.firmware-table tr td:nth-child(2){
    width: 30%
}
.firmware-table tr td:nth-child(3){
    width: 30%
}
.firmware-btnUpdate{
    width: 100%;
    text-align: center;
}

#rProtocol label {
    width: 200px;
}

.no-text-transform {
    text-transform: none;
}
